exportPattern("^[[:lower:]]+")
importFrom("stats", "aov","dist", "formula", "predict","cor","medpolish",
    "sd","lm","model.frame","aggregate", "chisq.test", "t.test","cor.test")
importFrom("rpart", "rpart")
importFrom("graphics", "abline","box","par", "points", "text", "title","lines")
