exportPattern("^[[:lower:]]+")
importFrom("stats", "aov","coef","dist", "formula", "kruskal.test",
    "predict","cor","medpolish",
    "sd","lm","model.frame","aggregate", "chisq.test", "t.test","cor.test")
importFrom("rpart", "rpart")
importFrom("graphics", "abline","box","boxplot","mtext","par", "points", "text", "title","lines")
